<% edit_path = (authorized_for_user? @user) ? (edit_user_path @user) : '' %>
<%= render :partial => 'shared/show_nav' , :locals => { :index_path => users_path ,
                                                        :edit_path  => edit_path  } %>

<h1><%= @user.nick %>'s Profile</h1>

<p><strong>Bio:</strong></p><p><%= @user.bio %></p>
