<%= render :partial => 'shared/edit_nav' , :locals => { :object     => @poll      ,
                                                        :index_path => polls_path } %>

<h1>Editing poll</h1>

<%= render 'form' %>
