<%= render :partial => 'shared/edit_nav' , :locals => { :object     => @project      ,
                                                        :index_path => projects_path } %>

<h1>Editting <%= @project.name %></h1>

<%= render 'form' %>
