<% edit_path = (authorized_for_project? @project) ? (edit_project_path @project) : '' %>
<%= render :partial => 'shared/show_nav' , :locals => { :object     => @project      ,
                                                        :index_path => projects_path ,
                                                        :edit_path  => edit_path     } %>

<h1><%= @project.name %></h1>

<% if @project.repo.present? %>
  <div>
    <p><strong>Repo URL:</strong></p>
    <%= link_to @project.repo , @project.repo %>
  </div>
<% end %>

<p>&nbsp;</p>

<div>
  <p><strong>Description:</strong></p>
  <%= @project.desc %>
</div>
