// Place styles that are specific to the Projects views here.
// They will automatically be included in projects.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#projects-table    { position: fixed ; left: 20px ; right: 20px ; }
#projects-table td { padding-right: 24px ; }
.projects-desc-td  { width: 100% ; }
