// Place styles that are not specific to any particular views here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* global */

body {
  margin: 0px ;
  color: #FFF ;
  background-color: #22282E ;
  font-family: verdana, arial, helvetica, sans-serif;
}


pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #00F;
  &:visited {
    color: #A0A;
  }
  &:hover {
    color: #F0F;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}


/* top navbar */

/* top navbar common */
#top-nav-div , #top-nav-div span { height: 64px ; }
#top-nav-div      { width: 100% ; background-color: #161a1e ; }
#top-nav-div span { display: table-cell ; vertical-align: middle ; }
#top-nav-div a    { color: #768E9E ; text-decoration: none ; cursor: pointer ; }

/* top navbar l */
#top-nav-logo-img { height: 42px ; }
#top-nav-l-span a { padding-left: 20px ; }

/* top navbar c */
#top-nav-c-span a { position: relative ; top: -2px ; font-weight: 600 ; font-size: 16px ; }
#top-nav-c-span a { padding-left: 20px ; }

/* top navbar r */
#top-nav-r-span      { position: absolute ; top: 0px ; right: 20px ; }
#top-nav-r-span span { position: relative ; top: 14px ; width: 6em ; height: 2em ;
                       border: 1px solid #888 ; text-align: center ; }
#signup-span         { background-color: #768E9E ; color: #161a1e !important ; }
#top-nav-r-span img  { margin-top: 10px ; height: 42px ; }
#nav-menu-span       { display: none ; } /* TODO: */


/* flash messages */

.flash-div     { position: absolute ; top: 0 ; right: 100px ; z-index: 30 ;
                 background-size: 100% 98% ; padding: 0em 4em 2em 2em ; }
.flash-notice  { background-image: url('/assets/flash-notice-bg.png') ; }
.flash-warning { background-image: url('/assets/flash-warning-bg.png') ; }
.flash-error   { background-image: url('/assets/flash-error-bg.png') ; }


/* main content */

#content-div { position: fixed ; left: 0px ; top: 64px ; right: 0px ; bottom: 0px ; }
