// Place styles that are specific to the Users views here.
// They will automatically be included in users.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#users-table    { position: fixed ; left: 20px ; right: 20px ; }
#users-table td { padding-right: 24px ; }
.users-desc-td  { width: 100% ; }
